{% extends "_base.html" %}
{% block content %}
<h1>Recent Videos - {{ title }}</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Published</th>
            <th scope="col">Channel</th>
            <th scope="col">Video</th>
            <th scope="col">Filtered</th>
            <th scope="col">Short</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for video in (videos | sort | reverse) %}
        <tr>
            <td>{{ video.published }}</td>
            <td><a href="/videos/{{ video.feed.youtube_id }}">{{ video.feed.title }}</a></td>
            <td><a href="https://www.youtube.com/watch?v={{ video.youtube_id }}">{{ video.title }}</a</td>
            <td>{{ g.user.filtered(video) }}</td>
            <td>{{ video.short }}</td>
            <td><a href="/filters?channel={{ video.feed.youtube_id | urlencode }}&filter={{ video.title | urlencode }}">Filter</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}